<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CREATE table 뒤에 IF NOT EXISTS를 붙여야 한다. 그래야 만약 있다면 오류가 안난다.
만약 이걸 안쓸거면 콘트롤러에 테이블 생성 메서드에 TRY CATCH 에 DAO를 넣으면 된다
 -->
<!-- 테이블 생성 쿼리 -->
<mapper namespace="com.callor.rent.dao.BookDao">
	<select id="creat_book_table">
		CREATE table IF NOT EXISTS tbl_books(
		B_CODE	VARCHAR(13)	NOT NULL	PRIMARY KEY,
		B_NAME	VARCHAR(125)	NOT NULL,	
		B_AUTHER	VARCHAR(125)	NOT NULL,	
		B_COMP	VARCHAR(125),		
		B_YEAR	INT	NOT NULL,	
		B_IPRICE	INT,		
		B_RPRICE	INT	NOT NULL
	)


	</select>
</mapper> 